.dashboard-card {
  width: 300px !important;
  height: 300px !important;
  min-width: 300px;
  min-height: 300px;
  border: 2px solid rgba(47, 5, 114, 0.329);
}

.dashboard-card:hover{
  cursor: pointer;
  border: 2px solid rgb(47, 5, 114);
}

img {
  width: 120px;
  height: 120px;
}

mat-card {
  align-items: center;
}

mat-card-title {
  font-weight: 500;
}