<div class="outer pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-7 col-md-7 offset-lg-3 offset-md-3">
                <div class="panel border rounded-3 shadow px-5 pb-4">
                    <div class="panel-heading">
                        <div class="form-title text-center p-4">
                            <h5 class="text-center pb-3"><strong>Course Registration Form</strong></h5>
                            <img class="" src="../../../assets/Course Registration.jpg" alt="" width="100px"
                                height="100px">
                        </div>
                    </div>
                    <div class="panel-body pb-3">
                        <form [formGroup]="courseRegistrationForm">

                            <!-- Course Cde -->
                            <div class="form-group pt-3">
                                <label for="courseCode">Course Code</label>
                                <div class="input-field" [class.error]="
                    courseRegistrationForm.controls['courseCode'].dirty &&
                    courseRegistrationForm.hasError('required', 'courseCode')
                  ">
                                    <input formControlName="courseCode" type="text" id="courseCode"
                                        class="rounded-3 px-2 py-1 mt-1" />
                                </div>
                                <small *ngIf="
                    courseRegistrationForm.controls['courseCode'].dirty &&
                    courseRegistrationForm.hasError('required', 'courseCode')
                  " class="text-danger">*Course Code is required</small>
                            </div>

                            <!-- Course -->
                            <div class="form-group pt-3">
                                <label for="courseName">Course Name</label>
                                <div class="input-field" [class.error]="
                    courseRegistrationForm.controls['courseName'].dirty &&
                    courseRegistrationForm.hasError('required', 'courseName')
                  ">
                                    <input formControlName="courseName" type="text" id="courseName"
                                        class="rounded-3 px-2 py-1 mt-1" />
                                </div>
                                <small *ngIf="
                    courseRegistrationForm.controls['courseName'].dirty &&
                    courseRegistrationForm.hasError('required', 'courseName')
                  " class="text-danger">*Course Name is required</small>
                            </div>

                            <!-- Credits -->
                            <div class="form-group pt-3">
                                <label for="credits">Credits</label>
                                <div class="input-field" [class.error]="
                    courseRegistrationForm.controls['credits'].dirty &&
                    courseRegistrationForm.hasError('required', 'credits')
                  ">
                                    <input formControlName="credits" type="number" id="credits"
                                        class="rounded-3 px-2 py-1 mt-1" />
                                </div>
                                <small *ngIf="
                    courseRegistrationForm.controls['credits'].dirty &&
                    courseRegistrationForm.hasError('required', 'credits')
                  " class="text-danger">*Number of credits is required</small>
                            </div>

                            <!-- Lecturer -->
                            <div class="form-group pt-3">
                                <label for="lecturer">Lecturer Name</label>
                                <div class="input-field" [class.error]="
                    courseRegistrationForm.controls['lecturer'].dirty &&
                    courseRegistrationForm.hasError('required', 'lecturer')
                  ">
                                    <select formControlName="lecturer" type="text" id="lecturer"
                                        class="rounded-3 px-2 py-1 mt-1">
                                        <option value="Dr. R.N Nawarathna">Dr. R.N Nawarathna</option>
                                        <option value="Prof. P.H Karunarathna">Prof. P.H Karunarathna</option>
                                        <option value="Prof. S.K Kodithuwakku">Prof. S.K Kodithuwakku</option>
                                        <option value="Prof. S.W.L Piris">Prof. S.W.L Piris</option>
                                        <option value="Prof. A.J Weerasinghe">Prof. A.J Weerasinghe</option>
                                        <option value="Dr. S.H.W Kumara">Dr. S.H.W Kumara</option>
                                        <option value="Dr. O.H Dayarathna">Dr. O.H Dayarathna</option>
                                        <option value="Dr. R.S Perera">Dr. R.S Perera</option>
                                        <option value="Dr. A.V.H Basnayake">Dr. A.V.H Basnayake</option>
                                        <option value="Prof. K.L.F Gunarathna">Prof. K.L.F Gunarathna</option>
                                        <option value="Dr. O.L.P Dissanayake">Dr. O.L.P Dissanayake</option>
                                    </select>
                                </div>
                                <small *ngIf="
                    courseRegistrationForm.controls['lecturer'].dirty &&
                    courseRegistrationForm.hasError('required', 'lecturer')
                  " class="text-danger">*Lecturer Name is required</small>
                            </div>

                            <!-- Corse Register Button -->
                            <button [disabled]="courseRegistrationForm.invalid" (click)="courseRegister()" type="submit"
                                class="btn btn-dark w-100 rounded-3 mt-5 py-3">
                                Register
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>