<div class="container my-5">
    <h4 class="text-center pb-4"><strong>Student Details</strong></h4>
    <table class="table" *ngIf="students && students.length > 0">
        <thead>
            <th>Registration Number</th>
            <th>Student Name</th>
            <th>Email Address</th>
            <th></th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            <tr *ngFor="let student of students">
                <td>{{student.studentRegistrationNumber}}</td>
                <td>{{student.firstName + " " + student.lastName}}</td>
                <td>{{student.email}}</td>
                <td><button class="btn btn-sm btn-primary w-80 rounded-3 detail-btn"
                        [routerLink]="['/student/details',student.studentId]">Student Details</button>
                </td>

                <td><mat-icon aria-hidden="false" aria-label="edit icon" fontIcon="edit" color="primary"
                    [routerLink]="['/student/update',student.studentId]"></mat-icon>
                </td>

                <td><mat-icon aria-hidden="false" aria-label="delete icon" fontIcon="delete" color="warn"
                        (click)="onClick(student.studentRegistrationNumber, student.studentId)"></mat-icon>
                </td>
            </tr>
        </tbody>
    </table>
    <p *ngIf="!students || students.length <= 0 ">No Student Found</p>
</div>