<div class="container my-5">
    <h4 class="text-center pb-4"><strong>Course Details</strong></h4>
    <table class="table" *ngIf="courses && courses.length > 0">
        <thead>
            <th>Course Code</th>
            <th>Course Name</th>
            <th>Credits</th>
            <th>Lecturer</th>
            <th>Course Schedule</th>
            <th></th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            <tr *ngFor="let course of courses">
                <td>{{course.courseCode}}</td>
                <td>{{course.courseName}}</td>
                <td>{{course.credits}}</td>
                <td>{{course.lecturer}}</td>
                <td>
                    <table *ngIf="course.courseSchedules && course.courseSchedules.length > 0">
                        <tbody>
                            <tr *ngFor="let schedule of course.courseSchedules">
                                <td>{{schedule.date}}</td>
                                <td class="px-2">{{schedule.time}} </td>
                                <td>{{schedule.venue}} </td>
                            </tr>
                        </tbody>
                    </table>
                    <p *ngIf="!course.courseSchedules || course.courseSchedules.length <= 0">Schedule Not Added!</p>
                </td>
                <td><mat-icon aria-hidden="false" aria-label="user icon" fontIcon="account_circle"
                    (click)="onView(course.courseId)"></mat-icon>
                </td>
                <td><mat-icon aria-hidden="false" aria-label="edit icon" fontIcon="edit" color="primary"
                        [routerLink]="['/course/update',course.courseId]"></mat-icon>
                </td>
                <td><mat-icon aria-hidden="false" aria-label="delete icon" fontIcon="delete" color="warn"
                        (click)="onClick(course.courseCode,course.courseId)"></mat-icon>
                </td>
            </tr>
        </tbody>
    </table>
    <p *ngIf="!courses || courses.length <= 0 ">No Courses Found</p>
</div>