<div class="outer pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-7 col-md-7 offset-lg-3 offset-md-3">
                <div class="panel border rounded-3 shadow px-5 pb-4">
                    <div class="panel-heading">
                        <div class="form-title text-center p-4">
                            <h5 class="text-center pb-3"><strong>Student Registration Form</strong></h5>
                            <img class="" src="../../../assets/Student Registration.jpg" alt="" width="100px"
                                height="100px">
                        </div>
                    </div>
                    <div class="panel-body pb-3">
                        <form [formGroup]="studentRegistrationForm">
                            <!-- First Name -->
                            <div class="mb-3">
                                <label for="firstName">First Name</label>
                                <div class="input-field" [class.error]="
                                studentRegistrationForm.controls['firstName'].dirty &&
                                studentRegistrationForm.hasError('required', 'firstName')">
                                    <input formControlName="firstName" type="text" class="rounded-3 px-2 py-1 mt-1"
                                        id="firstname">
                                </div>
                                <small *ngIf="
                                          studentRegistrationForm.controls['firstName'].dirty &&
                                          studentRegistrationForm.hasError('required', 'firstName')
                                        " class="text-danger">*Firstname is required
                                </small>
                            </div>

                            <!-- Last Name -->
                            <div class="mb-3">
                                <label for="lastName">Last Name</label>
                                <div class="input-field" [class.error]="
                                studentRegistrationForm.controls['lastName'].dirty &&
                                studentRegistrationForm.hasError('required', 'lastName')">
                                    <input formControlName="lastName" type="text" class="rounded-3 px-2 py-1 mt-1"
                                        id="lastName">
                                </div>
                                <small *ngIf="
                                          studentRegistrationForm.controls['lastName'].dirty &&
                                          studentRegistrationForm.hasError('required', 'lastName')
                                        " class="text-danger">*Lastname is required
                                </small>
                            </div>

                            <!-- Birthday -->
                            <div class="mb-3">
                                <label for="birthday">Birthday</label>
                                <div class="input-field" [class.error]="
                                studentRegistrationForm.controls['birthday'].dirty &&
                                studentRegistrationForm.hasError('required', 'birthday')">
                                    <input formControlName="birthday" type="date" class="rounded-3 px-2 py-1 mt-1"
                                        id="birthday">
                                </div>
                                <small *ngIf="
                                          studentRegistrationForm.controls['birthday'].dirty &&
                                          studentRegistrationForm.hasError('required', 'birthday')
                                        " class="text-danger">*Birthday is required
                                </small>
                            </div>

                            <!-- Gender -->
                            <div class="mb-3">
                                <label for="gender">Gender</label>
                                <div class="input-field" [class.error]="
                                studentRegistrationForm.controls['gender'].dirty &&
                                studentRegistrationForm.hasError('required', 'gender')">
                                    <select formControlName="gender" class="rounded-3 px-2 py-1 mt-1 w-100" id="gender">
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                        <option value="other">Other</option>
                                    </select>
                                </div>
                                <small *ngIf="
                                          studentRegistrationForm.controls['gender'].dirty &&
                                          studentRegistrationForm.hasError('required', 'gender')
                                        " class="text-danger">*Gender is required
                                </small>
                            </div>

                            <!-- Phone Number -->
                            <div class="mb-3">
                                <label for="phone">Phone Number</label>
                                <div class="input-field" [class.error]="
                                studentRegistrationForm.controls['phone'].dirty &&
                                studentRegistrationForm.hasError('required', 'phone')">
                                    <input formControlName="phone" type="text" class="rounded-3 px-2 py-1 mt-1"
                                        id="phone">
                                </div>
                                <small *ngIf="
                                          studentRegistrationForm.controls['phone'].dirty &&
                                          studentRegistrationForm.hasError('required', 'phone')
                                        " class="text-danger">*Phone number is required
                                </small>

                                <small *ngIf="studentRegistrationForm.hasError('pattern','phone')"
                                    class="text-danger">*Please, Enter valid Phone Number
                                </small>
                            </div>

                            <!-- Address -->
                            <div class="mb-3">
                                <label for="address">Address</label>
                                <div class="input-field" [class.error]="
                                studentRegistrationForm.controls['addressLine1'].dirty &&
                                studentRegistrationForm.hasError('required', 'addressLine1')">
                                    <input formControlName="addressLine1" type="text" class="rounded-3 px-2 py-1 mt-1"
                                        id="addressline1" placeholder="Address Line 1">
                                </div>

                                <div class="input-field" [class.error]="
                                studentRegistrationForm.controls['addressLine2'].dirty &&
                                studentRegistrationForm.hasError('required', 'addressLine2')">
                                    <input formControlName="addressLine2" type="text" class="rounded-3 px-2 py-1 mt-1"
                                        id="addressline2" placeholder="Address Line 2">
                                </div>

                                <div class="input-field">
                                    <input formControlName="addressLine3" type="text" class="rounded-3 px-2 py-1 mt-1"
                                        id="addressline3" placeholder="Address Line 3">
                                </div>

                                <small *ngIf="
                               ( studentRegistrationForm.controls['addressLine1'].dirty &&
                                studentRegistrationForm.hasError('required', 'addressLine1')) ||
                               ( studentRegistrationForm.controls['addressLine2'].dirty &&
                                studentRegistrationForm.hasError('required', 'addressLine2'))
                              " class="text-danger">*Address is required
                                </small>
                            </div>

                            <!-- Register Button -->
                            <button [disabled]="studentRegistrationForm.invalid" (click)="onRegister()" type="submit"
                                class="btn btn-dark w-100 rounded-3 mt-4" id="register-btn">Register
                                Student</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>