<div class="container my-5">
        <h4 class="text-left pb-4"><strong>Course Schedule Details</strong></h4>
        <div class="pb-5">
            <!-- <table class="table mx-5">
                <tr>
                    <th>Student Full Name</th>
                    <td>{{studentDetails.firstName + " " + studentDetails.lastName}}</td>
                </tr>
                <tr>
                    <th>BirthDay</th>
                    <td>{{studentDetails.birthday}}</td>
                </tr>
                <tr>
                    <th>Gender</th>
                    <td>{{studentDetails.gender}}</td>
                </tr>
                <tr>
                    <th>Phone Number</th>
                    <td>{{studentDetails.phones}}</td>
                </tr>
                <tr>
                    <th>Email Address</th>
                    <td>{{studentDetails.email}}</td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td>{{studentDetails.addressLine1 + ", " + studentDetails.addressLine2 + ", " +
                        studentDetails.addressLine3}}</td>
                </tr>

            </table> -->
        </div>
</div>    