<div class="container my-5">
    <h4 class="text-center pb-5"><strong>{{studentDetails.firstName + " " + studentDetails.lastName}}</strong></h4>
    <div>
        <h5 class="text-left pb-4"><strong>Personal Details</strong> <mat-icon class="px-5" aria-hidden="false"
                aria-label="delete icon" fontIcon="edit" color="primary"></mat-icon></h5>
        <div class="pb-5">
            <table class="table mx-5">
                <tr>
                    <th>Student Full Name</th>
                    <td>{{studentDetails.firstName + " " + studentDetails.lastName}}</td>
                </tr>
                <tr>
                    <th>BirthDay</th>
                    <td>{{studentDetails.birthday}}</td>
                </tr>
                <tr>
                    <th>Gender</th>
                    <td>{{studentDetails.gender}}</td>
                </tr>
                <tr>
                    <th>Phone Number</th>
                    <td>{{studentDetails.phone}}</td>
                </tr>
                <tr>
                    <th>Email Address</th>
                    <td>{{studentDetails.email}}</td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td>{{studentDetails.addressLine1 + ", " + studentDetails.addressLine2 + ", " +
                        studentDetails.addressLine3}}</td>
                </tr>

            </table>
        </div>
    </div>
    <div>
        <h5 class="text-left pb-4"><strong>Course Details</strong></h5>
        <div>
            <table class="table mx-5">
                <thead>
                    <th>Course Code</th>
                    <th>Course Name</th>
                    <th>Credits</th>
                    <th>Lecturer</th>
                    <th></th>
                </thead>
                <tbody>
                    <ng-container *ngIf="studentCourses.length > 0">
                        <tr *ngFor="let course of studentCourses">
                            <td>{{course.courses.courseCode}}</td>
                            <td>{{course.courses.courseName}}</td>
                            <td>{{course.courses.credits}}</td>
                            <td>{{course.courses.lecturer}}</td>
                            <th><button class="btn btn-sm btn-danger w-80 rounded-3 " id="enroll-btn"
                                    (click)="unenrollCourses(studentDetails.studentId, course.courses.courseId)">Unenroll</button>
                            </th>
                        </tr>
                    </ng-container>
                    <ng-container *ngIf="studentCourses.length <= 0">
                        <tr>
                            <td class="border-0">No Data to display</td>
                        </tr>
                    </ng-container>

                </tbody>
            </table>

        </div>
    </div>
</div>